.container{
    align-items: center;
    height: 100vh;
    background-color: hsla(45, 92%, 48%, 0.737);
}

.con{
    width: 390px;
    height: 570px;
    background-color: hsl(240, 100%, 97%);
    font-family: 'Inter', sans-serif;
    margin: auto;
    border-radius: 24px;
    box-shadow: 8px 8px  black;
    border-style: solid;
    
}
.bg{
    height: 45vh;
    width: 45vh;
    padding-left: 2.7vh;
    padding-top: 2vh;
    border-radius: 45px 50px 35px 45px;
}

.row{
    padding-top: 12vh;
}

.con1{
    background-color: hsla(49, 87%, 56%, 0.896);
    border-radius: 10px;
    width: 130px;
    height: 35px;
    margin-left: 25px;

}

.text{
    padding-left: 10px;
    padding-top: 4.5px;
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    
}
.text1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 8px;

}
.text2{
    padding-left: 16px;
    font-size: larger;
}
.text3{
    padding-left: 17px;
    opacity: 50%;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;

}
.logo{
    height: 40px;
    padding-top: 20px;
    padding-left: 16px;
}
.name{
    padding-left: 8px;
    font-weight: 600;
}
